html
  head
    title Practice Challenge Part 3
  body
    ul(id='color-list')
      each color in colors
          li= color
    h2 Add Team
    input(id='new-color', type='text')
    button(id='add-color') Add color
